.DismissedFlagsPage {
  overflow-x: auto;
}

.DismissedFlagsPage-header {
  background: @control-bg;
  color: @control-color;
  padding: 20px 0;

  .container {
    max-width: 600px;
  }

  p {
    margin-bottom: 20px;
  }

  .Button {
    margin-right: 10px;
  }
}

.DismissedFlagsPage-list {
  padding-top: 20px;

  .DismissedFlagsPage-results {
    white-space: wrap;
    width: 100%;

    td, th {
      padding: 10px;
      text-align: left;
    }

    thead th {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      color: @muted-color;
      min-width: 140px;
      border-bottom: 2px solid @control-bg;
    }

    tbody {
      tr {
        td, th {
          border-top: 1px solid @control-bg;
        }

        &:nth-of-type(odd) {
          background-color: #fcfcfc;
        }
      }
    }

    .DismissedFlagsPage-results-actions {
      text-align: right;
    }
  }
}

.DismissedFlagsTable-user {
  .Avatar {
    .Avatar--size(24px);
    vertical-align: middle;
    margin-right: 5px;
  }
}
